*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20210403/pngtree-city-sky-over-the-city-image_601066.jpg"), url("https://www.10wallpaper.com/wallpaper/1366x768/1610/Beautiful_City_Lights_At_Night-Cities_Photo_HD_Wallpaper_1366x768.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


section{
    width: 20%;
    height: 500px;
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section > .vermelho{
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 60px;
    opacity: 0.3;
}
section > .vermelho:hover{
    opacity: 1;
    cursor: pointer;
}

section > .amarelo{
    width: 120px;
    height: 120px;
    background-color: yellow;
    border-radius: 60px;
    opacity: 0.3;
}
section > .amarelo:hover{
    opacity: 1;
    cursor: pointer;
}

section > .verde{
    width: 120px;
    height: 120px;
    background-color: green;
    border-radius: 60px;
    opacity: 0.3;
}
section > .verde:hover{
    opacity: 1;
    cursor: pointer;
}
